footer {
    position:fixed;
    bottom:0;
    width: 100vw;
    padding-bottom: 30px;
    border-top: 1px solid #eaeaea;
    padding-top:10px;
    background-color: white;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.foooter-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin: 0px 5px;
}

.footer-icons__img{
    width: 20px;  
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.footer-icons__desc {
    font-size: 7px;
    padding: 0px 15px;
    font-weight: bold;
}