@import "header.css";
@import "footer.css";
@import "main.css";

:root {
  --button-primary: #fe6f0f;
  --button-hover: #fe6f0fcc;
}


body {
  font-family: "Helvetica Neue";
}

<<<<<<< Updated upstream
=======
@media screen and (max-width: 500px) {
  .media-into-msg {
    opacity: 0;
  }
}
>>>>>>> Stashed changes

.media-into-msg {
  background-color: salmon;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .media-into-msg {
    display: none;
  }
}
